* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #dbd6d6;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.main {
  width: 100%;
  max-width: 430px;
  min-height: 932px;

  height: auto;
  position: relative;

  overflow: hidden;
  background: gray;
  padding: 16px;
}

.camera-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.camera-box p {
  background: #F1F2F2;
  padding: 8px;
  font-size: 16px;

  border-radius: 8px;
}

.camera-box img {
  width: 100%;
  margin: 12px 0;
  border-radius: 8px;
}


.btn {
  border: none;
  outline: none;
  background: #C11135;

  color: #fff;
  text-align: center;
  font-size: 14px;

  padding: 12px 16px;
  border-radius: 8px;
  margin: 0 auto;
}

.camera {
  background: blue;
  width: 100%;
  min-width: 360px;
  min-height: 600px;
  height: 100%;

  position: fixed;
  top: 0;
  left: auto;
  margin: 0 auto;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera>p {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;

  width: 50px;
  height: 50px;
  background: #fff;

  color: #2b2b2b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera>button {
  position: absolute;
  bottom: 12px;
  left: 50%;

  transform: translate(-50%, -50%);
}

.showOn {
  display: block;
}

.showOff {
  display: none;
}

video {
  width: 100%;
  min-width: 100%;
  height: 100%;
  /* z-index: 1; */
}

.result {
  position: absolute;
  top: 0;
  left: 0;


  display: none;
  gap: 16px;
  width: 100%;

  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);

  transition: .4s;
}

.result.hasPhoto {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}


canvas {
  width: 100%;
  height: 100%;
}